#img3{
    margin-top: 54vh;
    margin-left: 35vh;
    position: absolute;
}

#codigo {
        position: absolute;
        font-size: 20px;
        margin-left: 83vh;
        margin-top: 69vh;
        color: #fff;

}